.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FDB927;
  /* height: 100vh; */
  /* margin-top: 1em; */
    /* Adjust this value as needed */
}

/* min-height: 10vh; */
/* margin-top: 1em; */
/* Adjust this value as needed */
.App-header {
  background-color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

